<header class="container mx-auto py-2 flex justify-between">
  <a href="#">Logo here</a>

  <nav>
    <ul class="flex gap-4">
      <li>Home</li>
      <li>About</li>
      <li>Contact</li>
    </ul>
  </nav>
</header>
